#wcliConsoleContainer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	z-index: 999999999999;
	text-align: center;
}

#wcliConsolePanel {
	position: relative;
	width: 100%;
	height: 50px;
	position: relative;
	background-color: black;
	opacity: .7;
}

#wcliWrapper {
	position: relative;
	bottom: 35px;
	width: 100%;
	text-align: center;
}

#wcliConsole {
	display: inline-block;
	width: 50%;
	height: 20px;
	padding: 0px;
	background: transparent;
	border: none;
	color: white;
	font-family: Arial;
	font-size: 15px;
	outline: none;
}

#wcliConsoleLabel {
	display: inline-block;
	margin-right: 5px;
	color: white;
	font-family: Arial;
	font-size: 15px;
}